@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /* h5 {
    @apply absolute px-6 duration-200 w-52 bottom-4 md:bottom-8 md:px-10 group-hover:scale-110 group-hover:text-black;
  } */
}

@layer components {
  .btn {
    @apply px-10 py-2 my-0 font-bold tracking-widest uppercase border-2 border-black font-alata hover:bg-black hover:text-white;
  }
}
.animate-fadeIn {
  animation: fadeIn 2s ease-in forwards;
}
#exp{
  background-image: url("../images/Monitor-bro.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: visible;
}

#port{
  background-image: url("../images/background/endless-constellation1.svg");
}
@media (max-width: 576px) {
  #hero {
    background-image: url("../images/background/endless-constellation1.svg");
    background-position: center;
  }
}

@media screen(lg) {
  .bg-hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute rounded-l-full top-52 bg-softBlue;
  }

  .bg-tabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply absolute rounded-r-full top-60 bg-softBlue;
  }
}

.ficon:hover {
  filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg)
    brightness(101%) contrast(96%);
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: #000;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
  top: 50px;
  right: 25px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}

/* download buton area */
@use postcss-nested;

button {
  &:hover {
    transform: scale(1.01);
  }

  &:focus {
    outline: none !important;
  }

  &:active {
    transform: scale(0.99);
  }
}

.check-svg {
  animation: svgScale 0.5s ease-in-out;
}
.download-arrow {
  transition: transform 0.2s linear;
}
button:hover .download-arrow {
  transform: translate(0, 3px);
}

@keyframes svgScale {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }
}

button.download-button {
  width: 150px;
  height: 30px;
}
.download-loader {
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  opacity: 0;
  animation: button-loading-spinner 1s ease 3;
}
@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
    opacity: 1;
  }

  to {
    transform: rotate(1turn);
    opacity: 0;
  }
}
.button-copy {
  padding-top: 2px;
}
@media (max-width: 375px) {
  button.copy-button {
    min-width: 300px;
  }
}
